<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Recipe: {{ recipe.name}}
      </mat-panel-title>
      <mat-panel-description>
        <a href="{{ recipe.url }}">Link</a>
        <table *ngFor="let dri of displayedRecipeIngredients" class="mat-elevation-z8 demo-table">
          <tr>
            <!-- ingredientName (ref via ingredientId) - selectable/editable -->
            <!-- ingredientDesc (ref via above obj) -->
            <!-- ingredientUnit (ref via above obj) -->
            <!-- ingredientCount - editable -->
            <!-- recipeId - fixed -->
            <td>
            </td>
          </tr>
        </table>
      </mat-panel-description>
    </mat-expansion-panel-header>
    something
  </mat-expansion-panel>
</mat-accordion>
