  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        * {{ recipe.name}}
      </mat-panel-title>
      <mat-panel-description>
        <a href="{{ recipe.url }}">{{recipe.url}}</a>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table  class="mat-elevation-z8 demo-table">
      <thead>
      <button class="button-add-row" mat-button (click)="openRecipeDialog(recipe)"> <!-- (click)="" -->
        Edit Recipe
      </button>
      <tr class="mat-header-row">
        <th class="mat-header-cell">Ingredient</th>
        <!--        <th>Description</th>-->
        <th class="mat-header-cell">Count</th>
<!--        <th class="mat-header-cell">Unit</th>-->
        <th class="mat-header-cell">
          <button class="button-add-row" mat-button (click)="addRow()">
            Add
          </button>
        </th>
      </tr>
      </thead>

      <tr *ngFor="let ri of _recipeIngredients" class="mat-row">
        <!-- ingredientName (ref via ingredientId) - selectable/editable -->
        <!-- ingredientDesc (ref via above obj) -->
        <!-- ingredientUnit (ref via above obj) -->
        <!-- ingredientCount - editable -->
        <!-- recipeId - fixed -->
        <td class="mat-cell">
<!--        <td >{{_ingredientMap[ri.ingredientId].name}}</td> &lt;!&ndash; ingredient id is editable &ndash;&gt;-->
          <mat-select [(value)]="ri.ingredientId"
                      (selectionChange)="addOrUpdateRow(ri)">
            <mat-option *ngFor="let i of ingredients" [value]="i.id">{{ i.name }} [{{ i.unit }}]</mat-option>
          </mat-select>
        </td>
<!--        <td class="mat-cell">{{_ingredientMap[ri.ingredientId].description}}</td>-->
        <td class="mat-cell">
<!--          {{ri.ingredientCount}}-->
            <input
              matInput
              type="number"
              id="myNumber"
              [(ngModel)]="ri.ingredientCount"
              (ngModelChange)="addOrUpdateRow(ri)"
            />
        </td>
<!--        <mat-form-field class="example-full-width">-->
<!--          <mat-label>Postal Code</mat-label>-->
<!--          <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">-->
<!--          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>-->
<!--        </mat-form-field>-->

<!--        <td class="mat-cell">{{_ingredientMap[ri.ingredientId].unit}}</td>-->
        <td class="mat-cell">
          <button class="button-remove-rows"
                  mat-button
                  (click)="removeRow(ri)">
            Remove
          </button>
        </td>
      </tr>
    </table>
  </mat-expansion-panel>
