.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.button-add-row {
  background: #1b9e1b;
  color: #ffffff;
}

.button-remove-rows {
  background: red;
  color: #ffffff;
  margin-right: 5px;
}
