<body class="mat-typography mat-app-background">
<!--<mat-slide-toggle>Toggle me!</mat-slide-toggle>-->

<!--  <app-nav-menu></app-nav-menu>-->
  <h2>Individual Ingredients</h2>
  <editable-ingredient-table
    [ingredients]="ingredients" [storeSections]="storeSections">
  </editable-ingredient-table>

<!--  <expansion-overview-example></expansion-overview-example>-->
  <autocomplete-example></autocomplete-example>
  <select-overview-example></select-overview-example>
<!--  <table-dynamic-array-data-example></table-dynamic-array-data-example>-->
  <editable-table></editable-table>

  <expanding-recipe
    *ngFor="let recipe of recipes; index as i;"
    [recipe]="recipe"
    [recipeIngredients]="recipeIngredients"
    [ingredients]="ingredients"
    >
  </expanding-recipe>

<!--  <app-fetch-data-->
<!--    [recipes]="recipes"-->
<!--    [ingredients]="ingredients"-->
<!--    [recipeIngredients]="recipeIngredients"-->
<!--    [storeSections]="storeSections"-->
<!--  ></app-fetch-data>-->

<!--  <h1>App Confirm Dialog</h1>-->
<!--  <app-confirm-dialog></app-confirm-dialog>-->

<!--  <div class="container">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
</body>
