<body class="mat-typography mat-app-background">
<!--<mat-slide-toggle>Toggle me!</mat-slide-toggle>-->

  <app-nav-menu></app-nav-menu>
  <expansion-overview-example></expansion-overview-example>
  <autocomplete-example></autocomplete-example>
  <select-overview-example></select-overview-example>
  <table-dynamic-array-data-example></table-dynamic-array-data-example>
  <editable-table></editable-table>
<!--  <h1>App Confirm Dialog</h1>-->
<!--  <app-confirm-dialog></app-confirm-dialog>-->

<!--  <div class="container">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
</body>
