<body class="mat-typography mat-app-background">
<!--<mat-slide-toggle>Toggle me!</mat-slide-toggle>-->

<!--  <app-nav-menu></app-nav-menu>-->
  <h2>Individual Ingredients</h2>
  <editable-ingredient-table
    [ingredients]="ingredients" [storeSections]="storeSections">
  </editable-ingredient-table>

  <h2>Expanding Recipes</h2>

  <expanding-recipe
    *ngFor="let recipe of recipes; index as i;"
    [recipe]="recipe"
    [recipeIngredients]="recipeIngredients"
    [ingredients]="ingredients"
  >
  </expanding-recipe>

  <!--  <expansion-overview-example></expansion-overview-example>-->
  <h2>Autcomplete Example</h2>

<!--  <autocomplete-example></autocomplete-example>-->
<!--  <h2>Select Overview Example</h2>-->
<!--  <select-overview-example></select-overview-example>-->

  <!--  <table-dynamic-array-data-example></table-dynamic-array-data-example>-->

<!--  <h2>Editable Table</h2>-->
<!--  <editable-table></editable-table>-->

<!--  <app-fetch-data-->
<!--    [recipes]="recipes"-->
<!--    [ingredients]="ingredients"-->
<!--    [recipeIngredients]="recipeIngredients"-->
<!--    [storeSections]="storeSections"-->
<!--  ></app-fetch-data>-->

<!--  <h1>App Confirm Dialog</h1>-->
<!--  <app-confirm-dialog></app-confirm-dialog>-->

<!--  <div class="container">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
</body>
